*{margin:0;padding:0;}
body{
  background-color: #f0f0f0;
  font-family: 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
}
nav {
  background-color: #111;
  color: white;
  padding: 1px 8px;
}
nav h1 {
  font-size: 2em;
}
nav h1 a {
  color: white;
}
nav.n {
  margin: 30px;
  padding: 20px;
  background-color: white;
  border-radius: 6px;
  width: 60%;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.1);
}
ul {
  margin-left: 20px;
  list-style-type: disc;
  font-size: 110%;
}
a {
  color: #333;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
h1 {
}
main {
  width: 70%;
}
article
{
  margin: 30px;
  padding: 20px;
  background-color: white;
  border-radius: 6px;
  border: #333 solid 1.5px;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.2);
}
h2 {
  margin: 30px;
  padding: 10px;
  padding-bottom: 6px;
  background-color: white;
  border-bottom: #888 solid 2px;
  border-right:  #ada solid 6px;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.1);
}
