/*
 * ============ Common ============ 
 */

*{margin:0;padding:0;}
body{
  background-color: #e2e2e2;
  font-family: 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
}
ul {
  margin-left: 20px;
  list-style-type: disc;
  font-size: 110%;
}
a {
  color: #333;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/*
 * ============  Navigation ============ 
 */
nav {
  background-color: #181818;
  color: white;
  padding: 1px 8px;
  position: fixed;
  width: 100%;
}
nav h1 {
  font-size: 2.04em;
}
nav h1 a {
  color: #f9f9f9;
}

/*
 * ============  Main ============ 
 */
main {
  width: 70%;
}
main > h1 {
  font-size: 1.9em;
  color: #555;
  padding: 3px;
  height: 26px;
}
main .container {
  padding: 20px;
}
h2 {
  margin: 10px;
  padding: 10px;
  padding-bottom: 6px;
  background-color: white;
  border-radius: 3px;
  border-bottom: #888 solid 2px;
  border-right:  #ada solid 6px;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.1);
}
article
{
  margin: 10px;
  padding: 10px;
  background-color: white;
  border: #888 solid 1px;
  display: inline-block;
  border-radius: 2px;
  /*border-radius: 6px;*/
  box-shadow: 10px 10px 10px rgba(0,0,0,0.3);
  max-width: 285px;
  vertical-align:top;
}
article h1 {
  font-size: 0.8em;
  font-weight: bold;
  line-height: 1em;
  color: #500606;
  text-decoration: underline;
}

aside
{
  float: right;
  margin: 10px;
  margin-top: 70px;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  border: #888 solid 1px;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.3);
}
