/*
 * ============ Common ============ 
 */

*{margin:0;padding:0;}
body{
  background-color: #f0f0f0;
  font-family: 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
}
ul {
  margin-left: 20px;
  list-style-type: disc;
  font-size: 110%;
}
a {
  color: #333;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/*
 * ============  Navigation ============ 
 */
nav {
  background-color: #111;
  color: white;
  padding: 1px 8px;
}
nav h1 {
  font-size: 2em;
}
nav h1 a {
  color: white;
}

/*
 * ============  Main ============ 
 */
main {
  width: 70%;
}
main > h1 {
  font-size: 1.9em;
  color: #555;
  padding: 3px;
  height: 26px;
}
main .container {
  padding: 20px;
}
article
{
  margin: 10px;
  padding: 10px;
  background-color: white;
  border: #888 solid 1px;
  display: inline-block;
  border-radius: 6px;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.3);
}
article h1 {
  font-size: 0.8em;
  font-weight: bold;
  line-height: 1em;
  color: #500606;
  text-decoration: underline;
}
h2 {
  margin: 10px;
  padding: 10px;
  padding-bottom: 6px;
  background-color: white;
  border-bottom: #888 solid 2px;
  border-right:  #ada solid 6px;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.1);
}
